@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#Xokleng {
    color: #05b0b6;
}

#Guarani {
    
    color: #0aa851;
    font-weight: 600;
    text-decoration: underline;

}


#Kaingang {
    
    color: #dc143c;                                                                                                                             
  
}
body{
      background-image: url("../img/REAL-REAL-aura.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{

    font-weight: 600;
    border-radius: 1rem;
    background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    z-index: 1;
}
.dropdown-menu{
   
    --bs-dropdown-bg: rgba(112, 112, 112, 0.692);  
    border-radius: 1rem;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    animation: fadeIn 0.2s ease;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu li{
    border-radius: 0.7rem;
    background-color: transparent !important;
    transition: 0.2s;
}
.dropdown-menu :hover{
    border-radius: 0.7rem;
    background-color: rgba(0, 0, 0, 0.349) !important;
    transition: 0.2s;
    color: #086439 !important;
   
    
}
#titulo-cor{
    color: #06351f;

}
#titulo-cor span{
     color: #9e6111;
}
.nav-link{
    color: #06351f !important;
    border-radius: 0.3rem;
}
.nav-link:hover{
    color: #086439 !important;
    background-color: #00000081 !important;
    border-radius: 0.3rem;
}
.img-titulo img{
    width: 5rem;
    height: 4rem;
}
#Povo{
      font-weight: 1000;
    text-decoration: underline;
}
.carousel{
      background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    border-radius: 2rem;
    width: 65%;
    margin: 0 auto;
}

.carousel-item img {
   max-height: 70% !important;
   border-radius: 2rem;
object-fit: cover;
    object-position: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    aspect-ratio: 16 / 10; 
}
.textinho{
     background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    border-radius: 1rem;
    margin-top: 4rem; 
    margin-bottom: 4rem;
    padding: 2rem;
}
.section-cards h2{
    background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
   
}

.card{
       background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    border-radius: 1rem;
}
.card img{
    aspect-ratio: 16 / 10; 
    margin-top: 1rem;
}
footer {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 2rem;
    margin-top: 2rem;
    bottom: 0;
}

footer h5 {
    
    font-weight: 600;
}

footer a {
    
    text-decoration: none;
    transition: 0.2s;
    color: #ffffff;
}


footer a:hover {
    color: #0aa851;
}

footer li {
    margin-bottom: 0.4rem;
}

@media screen and (max-width:767px){
    *{
        font-size: 10px;
    }
}
@media screen and (max-width:991px){
    #uff{
        margin: 0 !important;
    }
}
