@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;


}

body {
    background-image: url("../img/REAL-REAL-aura.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#Xokleng {
    color: #05b0b6;
}

#Guarani {
    
    color: #0aa851;

}

#Kaingang {
    
    color: #dc143c;                                                                                                                             
  
}
.navbar{

    font-weight: 600;
    border-radius: 1rem;
    background-color: rgba(150, 150, 150, 0.349) !important;
    backdrop-filter: blur(5px) !important;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    z-index: 1;
}
#Menu{
    font-weight: 1000;
    text-decoration: underline;
}

.dropdown-menu{
   
    --bs-dropdown-bg: rgba(112, 112, 112, 0.692);  
    border-radius: 1rem;
    border: 0.1rem solid rgba(82, 82, 82, 0.616) !important;
    animation: fadeIn 0.2s ease;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu :hover{
    border-radius: 0.7rem;
    background-color: rgba(0, 0, 0, 0.349) !important;
    transition: 0.2s;
    color: #086439 !important;
   
    
}
#titulo-cor{
    color: #06351f;

}
#titulo-cor span{
     color: #9e6111;
}
.nav-link{
    color: #06351f !important;
    border-radius: 0.3rem;
}
.nav-link:hover{
    color: #086439 !important;
    background-color: #00000081 !important;
    border-radius: 0.3rem;
}
.img-titulo img{
    width: 5rem;
    height: 4rem;
}
main {
    display: flex;
    align-items: flex-start;

}

.areamapa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mapinha {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10rem;
    margin-bottom: 4rem;

    width: 40%;
    height: 100%;

    transition: transform 1.5s ease-in-out;
    transform-origin: top left;




}

svg {

    width: 100%;
    border-radius: 1.5rem;

    border: 3px solid rgba(82, 82, 82, 0.616);

}

#svg-background {
    background-color: rgba(150, 150, 150, 0.575);

}

.xokleng {
    stroke-width: 0.1;
    stroke: rgb(0, 0, 0);
    fill: #05b0b6;
}

.guarani {
    stroke: rgb(0, 0, 0);
    fill: #0aa851;
    stroke-width: 0.1;

}

.kaingang {
    stroke: rgb(0, 0, 0);
    fill: #dc143c;
    stroke-width: 0.1;
}

.municipios {
    stroke: #000000;
    fill: rgb(209, 219, 221);
    stroke-width: 0.1;

}

#legendinha {
    position: absolute;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid grey;
    font-size: 25px;
    pointer-events: none;
    display: none;
    z-index: 1;

}

    


#legenda-kaingang {
    font-size: 67px;
}

#legenda-xokleng {
    font-size: 67px;
}

#legenda-guarani {

    font-size: 67px;
}

.mapinha.active {
    transform: translateX(-60%) translateY(-13%) scale(0.65);
    transition: 1.5s;




}

[class^="popupzinho"] {
    position: fixed;
    right: 5%;
    top: 10rem;
    right: 5%;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    transition-delay: 0s;
    color: #00000000;

}

[class*="popupzinho"][class*="active"] {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: fixed;
    right: 5%;
    top: 10rem;
    width: 55%;
    padding: 2rem;
    margin-top: 5rem;
    font-size: 20px;
    background-color: rgba(150, 150, 150, 0.349);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(82, 82, 82, 0.616);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0.8s;
    color: #000000;


}

[class^="cidadinha"] {
    width: 0;
    position: fixed;
    right: 5%;
    top: 10rem;
    right: 5%;
    transition: 2s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    transition-delay: 0s;
    color: #00000000;
}

[class*="cidadinha"][class*="active"] {
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    width: 26%;
    left: 8.4rem;
    height: 30%;
    background-color: rgba(150, 150, 150, 0.349);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(82, 82, 82, 0.616);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.8s;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

[class^="cidadinha"] .imgcid img {
    opacity: 0;
    
}

/* Imagem aparece quando qualquer cidadinha está ativa */
[class*="cidadinha"][class*="active"] .imgcid img {
    opacity: 1;
}

.imgcid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imgcid img {
    width: 16rem;
}
#legend-row-svg-006d2c-tspan-svg0{
    font-size: 67px;
}
#legend-row-svg-e31a1c-tspan-svg0{
    font-size: 67px;
}
#legend-row-svg-ffff33-tspan-svg0{
    font-size: 67px;
}
@media screen and (max-width:767px){
    *{
        font-size: 10px;
    }
}
@media screen and (max-width:991px){
    #uff{
        margin: 0 !important;
    }
}